body
    font-family: 'god-of-war'


#boutonCommentaire
    margin-bottom: 20px

#afficheProduit
    background-color: rgba(217, 131, 36, 0.70)
    border-radius: 10px
    


#backgroundAfficheProduit
    background-image: url('/imageFondProduit.jpg')
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    min-height: 100vh

#boiteProduit
    

