$primary: #443627 
$secondary: #D98324
$tertiary: #EFDCAB
$quarternary: #F2F6D0

@font-face 
   font-family: 'god-of-war'
   src: url("./(fonts)/GodOfWar.ttf") format("truetype")
    
@import ./node_modules/bootstrap/scss/bootstrap.scss

h1
    font-family: god-of-war